/.metadata/

.project

Simple-eclipse-maven/.settings

Simple-eclipse-maven/target

Simple-eclipse-maven/.classpath

Simple-eclipse-maven/.project

Simple-eclipse-maven/dependency-reduced-pom

Simple-eclipse-maven/pom

Simple-eclipse-maven/src/test